<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      
  
       <%= link_to "News", fantasy_basketball_news_path, class: "btn btn-success pull-right", style: "margin-top:10px;" %>
       <%= link_to "Week 5", fantasy_basketball_week_8_path, class: "btn btn-default pull-right", style: "margin-top:10px;" %>
       <%= link_to "Week 6", fantasy_basketball_week_8_path, class: "btn btn-default pull-right", style: "margin-top:10px;" %>
       <%= link_to "Week 7", fantasy_basketball_week_7_path, class: "btn btn-default pull-right", style: "margin-top:10px;" %>
       <%= link_to "Week 8", fantasy_basketball_week_8_path, class: "btn btn-default pull-right", style: "margin-top:10px;" %>
       <%= link_to "Home", fantasy_basketball_path, class: "btn btn-danger pull-right", style: "margin-top:10px;" %>
    </div>
  </div>
</nav>
