<!DOCTYPE html>
<html>
<head>
  <title>Best Fantasy Basketball Pick Ups</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  
  <meta name="description" content="Get the best fantasy basketball waiver wire pick ups in your inbox, every week. We do the fantasy basketball research so you don't have to. " />

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <%= render 'layouts/header' %>
</head>
<body>

<%= yield %>

</body>
</html>
